body{
    display: grid;
    grid-template-rows: 100px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(102, 180, 114);
    gap: 10px;
    text-align: center;
}

header{
    grid-area: header;
    justify-self: center;
    align-self: center;
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main_map content";
    display: grid;
}

#contents{
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 2fr; 
    grid-template-areas: "survey" "description" "backg";
    justify-self: center;
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

#theSurvey{
    grid-area: survey;
    justify-self: center; /* added this to center the button in the div */
}

#theBackground{
    grid-area: backg;
    justify-self: center;
    background-color:#dcd4a1;
}

#theDescription{
    grid-area: description;
    justify-self: center;
}

/* css for the button */
#surveyButton{
    padding: 15px 32px;
    margin: 10px;
    background-color: #e8ebb2d8;
    cursor: pointer;
}

/* css for button to get rid of the underline */
#surveyButton a{
    text-decoration: none; 
    align-self: center;
    color: black;
}

#backgroundButton{
    padding: 15px 32px;
    margin: 10px;
    background-color: #dcd4a1;
    cursor: pointer; 
}

/*#placeForButtons{
    grid-area: buttonHome;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
<<<<<<< HEAD
}*/
=======
}*/
>>>>>>> 691be256a14c115f1cbd01d16e1b1ec6a9d9148a
