body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color:snow;
    gap: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

header{
    grid-area: header;
    justify-self: center;
    align-self: center;
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main_map table_container";
    display: grid;
}

#contents{
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 3fr; 
    grid-template-areas: "survey" "description" "backg" ;
    justify-self: center;
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

table, th, td{
    border: 0px solid;
    border-collapse: collapse;
    padding: 15px 10px;
    margin: 5px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #F2E03F;
    color: black;
  }

tr:hover{
    background-color:aquamarine;
    transition: 1s;
}

.top-header{
    grid-area: header;
}

.description{
    background-color:#F2E03F;
    padding: 5px 10px;
}

#pages{
    justify-self: center;
    align-self: center;
    color: black;
    padding: 5px 10px;
    margin: 20px;
}

a{
    text-decoration: none;
}