body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color:snow;
    gap: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

header{
    grid-area: header;
    justify-self: center;
    align-self: center;
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main_map table_container";
    display: grid;
}

#buttons{
    grid-area: buttons;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-template-areas: "table1button table2button";
  
}

#table1button:hover{
    background-color: aquamarine;
    color:snow
}

#table2button:hover{
    background-color: aquamarine;
    color:snow
}

#contents{
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 3fr; 
    grid-template-areas: "description" "backg" ;
    justify-self: center;
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

table, th, td{
    border: 0px solid;
    border-collapse: collapse;
    padding: 15px 10px;
    margin: 5px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #F2E03F;
    color: black;
  }

tr:hover{
    background-color:aquamarine;
    transition: .5s;
}

.top-header{
    grid-area: header;
}

.description{
    background-color:#F2E03F;
    padding: 5px 15px;
}

#pages{
    justify-self: center;
    align-self: center;
    color: black;
    padding: 5px 10px;
    margin: 20px;
}

a{
    text-decoration: none;
}

/* the progress of the bar */
.barchart{
    background-color: #0f976c;
    text-align: center;
}

/* total of the bar */
.overallchart{
    border: 2px solid rgb(206, 206, 206);
    background-color: #9ef1d7;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    height: 20px;
  }

.chartText{
    position: absolute;
    text-align: center;
    width: 15%;
}
  
.niceRow{
    cursor: pointer;
}

/* hack for removing leaflet zoom controls!!!!!!!!!!! */
.leaflet-control-zoom{
    display: none;
}

#dataTable2{
    display: none;
}



